
<!DOCTYPE html>
<html ng-app="unipaperApp">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>

    <!-- Vendors Styles -->
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/angular.min.js"></script>
    <script src="../javascripts/angular-route.min.js"></script>
    <script src="../javascripts/tether.min.js"></script><!-- Tether for Bootstrap --> 
    <script src="../javascripts/bootstrap.min.js"></script>



    <link href="../stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="../stylesheets/reset.css" type="text/css" rel="stylesheet" media="all" />
    <link href="../stylesheets/style.css" type="text/css" rel="stylesheet" media="all" /> 
  </head>

  <body ng-controller="unipaperCtrl">
	<nav class="navbar navbar-default" id="mainNav">
        <div class="container-fluid">
            <div class="navbar-header">
                    <a class="navbar-brand"><img src="../images/logo.jpg"></a>
            </div>
           <div class="menu">
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="avatar" href="javascript:void(0);">
                        <img src="../cleanui/assets/common/img/temp/avatars/1.jpg" alt="Alternative text to the image">
                    </span>   
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                
                   <a class="dropdown-item" href="/storyview"><i class="dropdown-icon icmn-circle-right"></i> My Stories</a>
                    <a class="dropdown-item" href="/profileview"><i class="dropdown-icon icmn-circle-right"></i> Profile</a>
                    
       <div class="dropdown-divider"></div>
      <%if (sessiontrue > 0) { %>
                    <a class="dropdown-item" href="/logout"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                     <% } %>
    </ul>
            </div>
        </div>
        
    </div>
        </div>
        <div class="wizard">
            
                <ul class="nav nav-wizard">

                    <li class="active">
                        <a href="#step1" data-toggle="tab">Select a story type</a>
                    </li>

                    <li class="disabled write">
                        <a href="#step2" data-toggle="tab">Write a story</a>
                    </li>

                    <li class="disabled Preview">
                        <a href="#step3" data-toggle="tab">Preview submit</a>
                    </li>
                </ul>
                
                    <h5>Write a Story</h5>
                <div class="btns">

                    <input class="btn btn-primary next" ng-click="writeStoryFunc()" value="Back" type="button">
                    <input class="btn btn-primary" value="Save" type="button">
                    <input class="btn btn-primary next" value="Next" ng-click="storypreviewnext()" type="button">
                </div>
            </div>
        </nav>
        <section id="story">
            <div class="container" style="padding-top: 60px;" id="story-form">
              <div class="row">
                <!-- left column -->
                <div class="col-md-4 col-sm-6 col-xs-12 upload-image">
                  <div class="text-center">
                    <img ng-src = {{picturename}} src="<%= story.storypicture %>" class="avatar img-thumbnail" alt="avatar">
                    <input name="profilepicturefile" class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                  </div>
                </div>
                <!--
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <button class="btn btn-md add-btn">+</button>
                </div>
                -->

                <!-- edit form column -->
            <div class="col-md-12">



                  <form class="form-horizontal" role="form" ng-submit="writerArticleformsubmit()" auto-save-debounce="1000" auto-save-form="writerArticleformsubmit()">

                    <span ng-if="form.state.$dirty && form.state.$valid" class="help-block">Updating ...</span>      
                    <input type="hidden" ng-model="writerarticle.storycategory" ng-init="writerarticle.storycategory ='<%= storytype %>'"></input>
                    <input type="hidden" ng-model="writerarticle.storyid" ng-init="writerarticle.storyid = '<%= story.storyid %>'">

                    <div class="form-group">
                      <label class="col-lg-3 control-label"></label>
                      <div class="col-lg-8">
                        <input class="form-control" value="" placeholder="Title" type="text" ng-model="writerarticle.title" ng-init="writerarticle.title ='<%= story.title %>'">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-3 control-label"></label>
                      <div class="col-lg-8">
                        <input class="form-control" value="" placeholder="Sub Heading" type="text" ng-model="writerarticle.subheading" ng-init="writerarticle.subheading ='<%= story.subheading %>'">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-md-3 control-label"></label>
                      <div class="col-md-8">
                        <textarea class="form-control" rows="3" id="comment" placeholder="Body Copy" ng-model="writerarticle.bodycontent" ng-init="writerarticle.bodycontent ='<%= story.bodycontent %>'"></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-8">
                        <input class="btn btn-sm btn-success" type="submit" value="Save">

                        <!--<input type="button" class="btn btn-primary" value="Save">-->
                        <!--<input type="button" class="btn btn-primary next"  value="Next">-->
                    </div>
                    </div>


                </form>

                </div>
              </div>
            </div>
        </section>
        
        <footer id="footer">
          
        </footer>

            <script src="../javascripts/custom.js"></script>
            <script src="../services/writerservice.js"></script>

</body>
</html> 